
* {
    font-family: 'Patrick Hand', cursive;
}

nav {
    margin: 0, 2rem;
}

.navbar {
    background-color: #DFC2F2;
}

body {
    background-color: #DFC2F2;
    padding-top: 8%;
}

.home-text {
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
    margin-top: 10rem;
}

.home-bubble-text {
    font-family: 'Rubik Bubbles', cursive;   
}


img {
    border-radius: 15%;
}

/* {
    display: flex;
    justify-content: center;
    text-align: center;
} */

.submit-btn {
    padding-top: 2rem;
    display: flex;
    align-items: center;
}

.form-control {
    border: 0;
}

form {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
    margin-top: .5rem;
    padding: 5rem;
    border-radius: 2rem;
    background-color: white;
    height: auto;
    width: 30rem;
}

.login-header {
    display: flex;
    text-align: center;
    width: 15rem;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 5rem;
}

.login-form {
    width: 27rem;
}

.welcome-back {
    display: flex;
    justify-content: center;
    font-family: 'Rubik Bubbles', cursive;   
}

.red-note-taking{
    display: flex;
    justify-content: left;
    margin-left: 5rem;
}

.nav-item {
    margin: 1rem;
}

.home {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

a {
    text-decoration: none;
}

.reg {
    margin-left: 5rem;
    display: flex;
    justify-content: left;
}

.site-info {
    font-size: 20rem;
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
    margin-right: 5rem;
}

.logged-in-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: white;
    width: 30rem;
    padding: 5rem;
    margin-top: 3rem;
}

.diagnosis-bubble {
    display: flex;
    justify-content: center;
}

.diagnosis-question {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.yes-no {
    display: inline;
}

.new-entry-dx {
    padding: 8rem;
}

.new-entry-no-dx .new-entry-dx {
    padding: 8rem;
}


.entry-with-diagnosis {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('/static/images/notebook.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.entry-without-diagnosis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-diagnosis-form {
    margin: 1rem;
    width: 31rem;
    padding: 2rem 5rem;
}

.entries-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-top: 5rem;
    background-image: url('/static/images/multiple_page_notebook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.entry-bubble {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: x-large;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    height: max-content;
    width: 30rem;
    margin-top: 1rem;
}

.delete-form {
    margin: 6rem;
    text-align: center;
    background-color: None;
}

.delete-container {
    display: flex;
    justify-content: center;
    height: 35rem;
    background-image: url('/static/images/very_crumpled_paper.jpg');
}


@media only screen and (max-width: 480px) {
    body{
        max-width: 100%;
    }

    img {
        display: none;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        width: fit-content;
    }
    .entries-page{
        margin-top: 1rem;
        width: auto;
        background-color: white;
        background-image: none;
        width: max-content;
        overflow-x: hidden;
    }
    .home-text {
        display: flex;
        justify-content: center;
    }
  }


@media (min-width: 992px) and (max-width: 1199px) {

    .entries-page {
        background-color: white;
        background-image: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

        .entries-page {
            background-color: white;
            background-image: none;
        }

}

@media (max-width: 767px) {

        .entries-page {
            background-color: white;
            background-image: none;
    }

}