
* {
    font-family: 'Mingzat', sans-serif;
}

nav {
    margin: 0, 4rem;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #DFC2F2;
}

body {
    background-image: url('/static/images/calm.jpg');
    padding-top: 8%;
}

.home {
    font-size: x-large;
}

.home-text {
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
    margin-top: 10rem;
}

.home-bubble-text {
    font-family: 'Josefin Sans', sans-serif;
}

.home-photo {
    margin-left: 4rem;
    padding-left: 2rem;
}

img {
    border-radius: 15%;
}


.submit-btn {
    padding-top: 2rem;
    display: flex;
    align-items: center;
}

.form-control {
    border: 0;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;  
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: white;
    height: auto;
    width: 30rem;
}

.login-header {
    font-family: 'Josefin Sans', sans-serif;  
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20rem;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 0 4rem;
}

.no-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 28rem;
}



.welcome-back {
    display: flex;
    justify-content:space-around;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;   
}

.login-photo {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    margin-left: 5rem;
}

.nav-item {
    margin: 1rem;
}

.home {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

a {
    text-decoration: none;
}

.reg {
    margin-left: 5rem;
    display: flex;
    justify-content: left;
}

.sign-up-title {
    font-family: 'Josefin Sans', sans-serif; 
}

.site-info {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20rem;
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
    margin-right: 5rem;
}

.logged-in-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: white;
    width: 30rem;
    padding: 5rem;
    margin-top: 3rem;
}

.diagnosis-bubble {
    display: flex;
    justify-content: center;
}

.diagnosis-question {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.yes-no {
    display: inline;
}

.entry-with-diagnosis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-without-diagnosis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-diagnosis-form {
    margin: 1rem;
    width: 31rem;
    padding: 2rem 5rem;
}

.entries-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-top: 5rem;
    background-image: url('/static/images/multiple_page_notebook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.entry-bubble {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: x-large;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    height: max-content;
    width: 30rem;
}

.edit-entry-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.delete-form {
    margin: 6rem;
    text-align: center;
    background-color: None;
}

.delete-container {
    display: flex;
    justify-content: center;
    height: 35rem;
    background-image: url('/static/images/very_crumpled_paper.jpg');
}


@media only screen and (max-width: 480px) {
    body{
        max-height: 100%;
    }

    img {
        display: none;
    }
    
    .site-info {
        display: none;   
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        padding: 10% 5%;
        width: fit-content;
    }
    
    .reg-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        width: auto;
    }

    .login {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .diagnosis-bubble {
        margin-top: 3rem;
    }
    
    .entry-with-diagnosis {
       margin-top: 5rem;
    }

    .entry-without-diagnosis {
       margin-top: 2rem;
    }

    .entries-page{
    margin-top: .5rem;
    width: auto;
    background-color: white;
    background-image: none;
    width: 100%;
    overflow-x: hidden;
    }

    .entry-bubble {
        font-size:75%;
    }

    .home-text {
        display: flex;
        justify-content: center;
    }
  }


@media (min-width: 992px) and (max-width: 1199px) {

    form {
        margin: 1.5rem;
        width: 100%;
    }
    
    .entries-page {
        background-color: white;
        background-image: none;
    }

    .site-info {
        display: none;   
       }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
    form {
        margin-top: 3rem;
        width: 100%;
    }
    
    .entries-page {
        background-color: white;
        background-image: none;
    }

    .site-info {
        display: none;   
       }
    
}


@media (max-width: 767px) {
    
    form {
        margin: 1.5rem;
    }

    .entries-page {
            background-color: white;
            background-image: none;
    }

    .site-info {
        display: none;   
       }

}


@media (max-width: 1280px) {
    
    form {
        margin: 1.5rem;
    }

    .entries-page {
            background-color: white;
            background-image: none;
    }

    .site-info {
        display: none;   
       }

}