<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <title>{% block title %} Symptoms Tracker {{ title }} {% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a href="{{ url_for('homepage') }}" class="navbar-brand">Symptoms Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                    <div class="nav-right">
                        <li class="nav-item">
                            <a href="{{ url_for('entry') }}" class="nav-link btn"><i class="fa-solid fa-file-medical"></i> New Entry</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('past_entries') }}" class="nav-link btn btn-secondary"><i class="fa-solid fa-book-medical"></i> Past Entries</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('logout') }}" class="nav-link btn"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                        </li>
                    </div>
                    <div>
                        {% else%}
                        <li class="nav-item">
                            <a href="{{ url_for('registration')}}" class="nav-link btn btn-light">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('login') }}" class="nav-link btn btn-light">Login</a>
                        </li>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            
            {% endblock %}
        </div>
    </main>  
</body>
 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/957a801636.js" crossorigin="anonymous"></script>
{% block script %} {% endblock %}
</html>
