{% extends 'base.html' %}

{% block content %}
    <div class="delete-container">
        <form method="POST" class="delete-form">
            <h4>Are you sure you want to permanently DELETE this entry?</h4>
            <h5>This action cannot be undone!</h5>
            <div class="delete-form-buttons">
                {{submit.delete(class_="btn btn-danger")}}
                <a href="{{ url_for('past_entries') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}