{% extends 'base.html' %}

{% block content %}
<div class="new-entry">
    {% if answer == 'yes' %}
    <div class="entry-with-diagnosis">
        <form class="form-group entry-diagnosis-form" method="POST" action="{{ url_for('entry') }}">
            <div class="form-control">
                {{ form.diagnosis.label }}<br>{{ form.diagnosis() }}
            </div>
            <div class="form-control">
                {{ form.symptom.label }}<br>{{ form.symptom() }}
            </div>
            <div class="form-control">
                {{ form.category.label}}<br>{{ form.category() }}
            </div>
            <div class="form-control">
                {{ form.entry_details.label }}<br>{{ form.entry_details(rows=10, cols=33) }}
            </div>
            <div class="form-control d-grid gap-2 col-6 mx-auto">
                {{ form.entry_submit(class_="btn btn-success") }}
                <a href="{{ url_for('entry') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    {% elif answer == 'no' %}
    <div class="entry-without-diagnosis">
        <form class="new-entry-no-dx form-group" method="POST" action="{{ url_for('entry') }}" >
            <div class="form-control">
                {{ form.category.label}}<br>{{ form.category() }}
            </div>
            <div class="form-control">
                {{ form.symptom.label }}<br>{{ form.symptom() }}
            </div>
            <div class="form-control">
                {{ form.entry_details.label }}<br>{{ form.entry_details(rows=10, cols=31) }}
            </div>
            <div class="form-control d-grid gap-2 col-6 mx-auto">
                {{ form.entry_submit(class_="btn btn-success") }}
                <a href="{{ url_for('entry') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    {% else %}
    <div class="diagnosis-bubble">  
        <form class="form-group diagnosis-question" method="POST" action="{{ url_for('entry') }}">
            <h5>Is there a diagnosis associated with the symptoms you want to document?</h5>
            <div class="yes-no">
                {% for answer in diagnosis_form.associated_diagnosis %}
                    <tr>
                        <td>
                            {{ answer }}
                        </td>
                        <td>
                            {{ answer.label }} 
                        </td>
                    </tr>
                {% endfor %}
            </div>
            <br>
            <div class="entry_diagnosis_buttons">
                {{ diagnosis_form.submit(class_= "btn btn-success") }}
                <a href="{{ url_for('homepage') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    {% endif %}
    </div>
</div>

{% endblock %}