{% extends 'base.html' %}

{% block content %}
<div>
    {% if answer == 'yes': %}
        <form class="form-group" method="POST" action="{{ url_for('entry') }}">
            <div class="form-control">

            </div>
            {{ form.diagnosis.label }}<br>{{ form.diagnosis(class="custom-select custom-select-lg mb-3") }}<br>
            {{ form.symptom.label }}<br>{{ form.symptom() }}<br>
            {{ form.category.label}}<br>{{ form.category() }}<br>
            {{ form.entry_details.label }}<br>{{ form.entry_details(rows=8, cols=50) }}<br>
            {{ form.entry_submit(class_="btn btn-success") }}
        </form>
    {% elif answer == 'no': %}
        <form class="form-group" method="POST" action="{{ url_for('entry') }}" >
            {{ form.category.label}}<br>{{ form.category() }}<br>
            <div class="form-control">
                {{ form.symptom.label }}<br>{{ form.symptom() }}<br>
            </div>
            {{ form.entry_details.label }}<br>{{ form.entry_details(rows=8, cols=50) }}<br>
            {{ form.entry_submit(class_="btn btn-success") }}
        </form>
    {% else %}
        <form class="form-group" method="POST" action="{{ url_for('entry') }}">
            <p>Is there a diagnosis associated with the symptoms you want to document?</p>
            {% for answer in diagnosis_form.associated_diagnosis %}
            <tr>
                <td>
                    {{ answer }}
                </td>
                <td>
                    {{ answer.label }} 
                </td>
            </tr>
            {% endfor %}
            <br>
            {{ diagnosis_form.submit(class_= "btn btn-success") }}
            <a href="{{ url_for('homepage') }}" class="btn btn-secondary">Cancel</a>
        </form>
    {% endif %}

</div>

{% endblock %}