{% extends 'base.html' %}

{% block content %}
    <div class="home">
        {% if current_user.is_authenticated %}
            <h3>Hi, {{ current_user.username }}!</h3>
            <p>Where to?</p>
            <a href="{{ url_for('entry') }}" class="new-entry">
                <button type="button" class="btn btn-info new-entry">Create Entry</button>
            </a>
            
            <a href="{{ url_for('past_entries')}}" class="btn btn-secondary past-entries">Past Entries
            </a>
        {% else %}
        <div class="container">
            <div class="row">
                <aside class="d-block col home-text">
                    <div class="home-bubble-text">
                        <h1>Keep your symptoms organized</h1>
                    </div>
                    <h2>Log in to get started!</h2>
                </aside>
                <aside class="col">
                    <img class="d-none d-lg-block" src="/static/images/note-taking-image-home.jpg" alt="note-taking-img" width="60%"/> 
                </aside>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}