{% extends 'base.html' %}

{% block content %}
    <div class="home">
        {% if current_user.is_authenticated %}
            <h3>Hi, {{ current_user.username }}!</h3>
            <p>Where to?</p>
            <a href="{{ url_for('entry') }}" class="new-entry">
                <button type="button" class="btn btn-info new-entry">Create Entry</button>
            </a>
            
            <a href="{{ url_for('past_entries')}}" class="btn btn-secondary past-entries">Past Entries
            </a>
        {% else %}
            <aside class="info">
                <h3>Keep your symptoms organized</h3>
                <h4>Log in to get started!</h4>
            </aside>
            <img class="img-responsive center-block hidden-xs" src="/static/images/note-taking-image-home.jpg" alt="note-taking-img" width="40%" height="650"/> 
        {% endif %}
    </div>
    {% endblock %}