{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col welcome-back">
                <h1>Welcome Back!</h1>
            </aside>
            <div class="col-8">
                <div class="login">
                    <form method="POST" class="login-form">
                        <div class="form-group">
                            <div class="login-header">
                                <h3>Symptoms Tracker <br> LOGIN</h3>
                            </div>
                            {{ form.hidden_tag() }}
                            <div class="login-input">
                                <div class="form-control">
                                    {{ form.email.label() }}<br>{{ form.email(placeholder='email', style_="width: 17rem") }}<br>
                                </div>
                                <div class="form-control">
                                    {{ form.password.label()}}<br>{{ form.password(placeholder='password', style_="width: 17rem")}}<br>
                                </div>
                            </div>
                            <br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                {{ form.submit(class_="btn btn-success btn-block") }}
                            </div>
                            <br>
                            <div class="no-account">
                                <p>Don't have an account? <a href="{{ url_for('registration') }}">Sign Up</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}