{% extends 'base.html' %}

{% block content %}
    <h3>Hi, {{ user.first_name }}</h3>
    <div>
        <tr>
            {% for entry in entries %}
                <br>
                <td>
                    {{ entry.entry_date_time }}
                </td>
                <br>
                <th>
                    Diagnosis:
                </th>
                {% if entry.diagnosis %}
                <td>
                    {{ entry.diagnosis.diagnosis_name }}
                </td>
                {% else %}
                    <td>
                        Unknown
                    </td>
                {% endif %}
                <br>
                <th>
                    Primary Symptom:
                </th>
                <td>
                    {{ entry.symptom.symptom_name }}
                </td>
                <br>
                <th>
                    Details:
                </th>
                <td> 
                    {{ entry.entry_details }}
                </td>
                <br>
                <th>
                    Specialty:
                </th>
                <td>
                    {{ entry.category.category_name }}
                </td>
                <br>
            </table>
            <a href="/past-entries/edit/{{ entry.id }}" class="btn btn-info"> Edit </a>
            <a href="/past-entries/delete/{{ entry.id }}" class="btn btn-danger">Delete</a>
{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}